.Header_wrapper{
    width: 375px;
    height: 65px;
    margin: auto;
    background-color: #FFFFFF;
    border-bottom: 2px solid #EFF0F3;
    position: relative;
}
.Header_icon__zap{
    color:#4F46E5;
    margin: 20px 0 0 20px;
    width: 19.45px;
    height: 25px;
}
.Header_car__wrapper{
    height: 18px;
    width: 40px;
    position: absolute;
    top: 23px;
    right: 18px;
    text-align: center;
    line-height: 18px;
    >a{
        line-height: 18px;
        font-size: 14px;
        color: #9CA3AF;
    }
}
.Header_icon__car{
    width: 16px;
    height: 18px;
    color: #9CA3AF;
    margin-right: 1px;
    vertical-align: bottom;
    
}